@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  🔐 TailwindCSS purge safety
  ----------------------------
  Any custom CSS class or rule should be placed inside an @layer block 
  (base, components, or utilities) to ensure Tailwind keeps it during production builds.
  Otherwise, unused CSS will be purged.
*/

/* FONT */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* BASE STYLES */
@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
}

/* UTILITIES */
@layer utilities {
  .title-text-clamp {
    font-size: clamp(2rem, min(6vw, 12vh), 8rem);
  }

  .text-clamp {
    font-size: clamp(1rem, min(4vw, 4vh), 2rem);
  }

  .pb-clamp {
    padding-bottom: clamp(2rem, min(5vw, 4vh), 5rem);
  }

  .landscape-settings {
    max-height: clamp(250px, 60vh, 800px);
  }

  .icon-responsive {
    width: clamp(32px, min(6vw, 6vh), 64px);
    height: clamp(32px, min(6vw, 6vh), 64px);
    transition-duration: 300ms;
  }

  @media (max-height: 600px) or (max-width: 880px) {
    .hide-on-landscape {
      visibility: hidden;
    }

    .hide-desktop-menu {
      display: none !important;
    }

    .show-burger-menu {
      display: flex !important;
    }
  }

  @media (min-height: 601px) {
    .hide-burger-menu {
      display: none !important;
    }
  }
}
